*  {
    display:none !important;
}
body, html {
    display:block !important;
}
.support {
    display:block !important;
    width:300px;
    padding:100px 0;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}
    .support a {
        display: inline !important;
        color: #b13037;
    }